@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Dziękujemy</title>
    <style>
        body { background-color: #f1f1f1;}
     
    </style>
</head>
<body>
    @{ 
        try
        {
            WebMail.SmtpServer = "smtp.przyklad.pl";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "nazwausera";
            WebMail.Password = "haslousera";
            WebMail.From = "rsvp@przyklad.pl";
            WebMail.Send("gospodarz-przyjecia@przyklad.pl", "Powiadomienie RSVP", Model.Name + ((Model.WillAttend ?? false) ? "" : "nie") + "przyjdzie");

        }catch (Exception){
    @:<div class="text-center"><b class="alert-warning">Przepraszamy - nie mozemy wysłać wiadomosci RSVP.</b></div>
        }
    }
    <div class="text-center">
     <h1>Dziękujemy, @Model.Name!</h1>
     <div class="lead">
     @if (Model.WillAttend == true)
    {
     @:Cieszymy się, że przyjdziesz do nas. Napoje są juz w lodówce!
    }
    else
    {
    @:Przykro nam, że nie możesz się zjawić, ale dziękujemy za informacje.
     }
    </div>
    </div>
</body>
</html>
